/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
#content {
  background: url('../image/mascot.svg') no-repeat center;
  padding-top:65px;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          obox-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}



/*
 * Cover
 */

.cover {
  padding: 20px 20px;

  background-color: #ffffff;
  opacity:0.99;
  filter:alpha(opacity=99); /* For IE8 and earlier */
  border: 5px solid black;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  border-radius: 65px;
  margin:5%;
}

.cover p {
opacity:100;  color: #000000;
}

.cover h1 {
  color: #000000; opacity:100;
}

.cover h1 small{
  color: #000000; opacity:100;
}


.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  color: #000000; opacity:100;
  border: 5px solid grey;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  border-radius: 65px;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}